.alinear{
    text-align: center;
    color: darkcyan;
    margin-top: 20px;
}

.generalCard{
   
    color:darkslategrey;

}



.card-header{
    color: aliceblue;
}

ul li{
    list-style: none;
    
}

table {
 width: 100%;
 
 
}

table  th {
    background-color: #2C3E50 ;
    font-size: 15px;
    font-weight: bold;
}

table td{
    
    color: black;
}

tr:nth-child(odd){
    background-color: #ABB2B9;
}

mat-form-field {
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: a a 6%;
}