.alinear{
    text-align: center;
    color: darkcyan;
    margin-top: 20px;
}

.generalCard{
   
    color:darkslategrey;

}



.card-header{
    color: aliceblue;
}

ul li{
    list-style: none;
    
}

table {
 width: 100%;
}

mat-form-field {
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: a a 6%;
}