.producto-container{
    display: flex;
    flex-direction: column;
}

.producto-container > * {
    width: 100%;
}
.subir{
    background:#3f51b5 ;
    padding: 5px 16px;
    color: #fff;
    border: 0px solid #fff;
}

.input-file{
    display: none;
}